/* BODY MAIN */
body {
    background-color: hsl(351, 41%, 93%);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
   
   
   }

/* IMAGE CLASSES AND FILTERS */
   #greyscale {
    filter: grayscale(100%);
   }

   #black-white {
        filter: grayscale(100%) contrast(200%);

   }

.logo {
    display: flex;
   
}

#content-img-small {
    display:block;
    margin-left: auto;
    margin-right: auto;
    
position: relative;
width: 17.5rem;
border:#5d020b, solid, 2px;
border-radius: 18px;
}

#content-img-code {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;

border:#5d020b, solid, 2px;
border-radius: 18px;
}


#content-background-img {
    display: flex;
    position: relative;
    
    width: 30rem;
    justify-self: center;
    margin: 0px;
    padding: 100px 50px 100px 50px;
    z-index: -1;
    opacity: 0.1;
}

/* NAVBAR STRUCTRE */

.navspan {
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 100vw;
    height: 100vmax;
}

.navlogo {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: bisque;
    /* height: 100vh;  */
    width: 200px;
    position: sticky;
    
    left: 0;
    list-style: none;
    
    

}

#nav-bottom {
    margin: 0;
    background-color: #b7bcea;
    height: 100vmax;
    width: 200px;
    
    
}
/* ------------------------------ */

/* PAGE CONTENT */

.content-1 {
    background-color: rgb(243, 225, 227);
display: flex;
flex-direction: column;
width: 100vw;


}

.hempty-box {

    background-color: #b7bcea;
    height: 25px;

}




    


    





/* `````````````````````````````````````````````` */
/* TExt classes */


p { 
    font-family: monospace;
color: #5d020b;
padding-left: 50px;
padding-right: 50px;
padding-top: 23px;
padding-bottom: 10px;
margin: 10px;
justify-content:left;
max-width: 700px;
}

h1{
    display: flex;
    font-family: roboto;
    color:black;
    font-size: 60px;
    font-weight: 1000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 23px;
    padding-bottom: 65px;
    margin: 0px;
    justify-content:left;
}


h3 { 
    font-family: monospace;
color:black;
font-size: 30px;
font-weight: 1000;
padding-left: 50px;
padding-right: 50px;
padding-top: 23px;
padding-bottom: 23px;
margin: 0px;
justify-content:center;
}

footer {
    font-family: monospace;
    font-size: small;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    background-color: white;
}

i {
    font-family: roboto;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 23px;
    padding-bottom: 10px;
    margin: 10px;
    justify-content:left;
    max-width: 700px;
    background-color: bisque;
}

/* LINKS+HOver */

a {
    background-color: bisque;
font-family: monospace;
color: #5d020b;
padding: 10px;
margin: 25px;
border:#5d020b, 2px, solid;
transition: background-color 0.5s ease, color 0.5s ease; 
transition: .3s;
}

#inline-link {
    background-color: bisque;
font-family: monospace;
color: black;
border:#5d020b, 0px, solid;
transition: background-color 0.5s ease, color 0.5s ease; 
transition: .3s;
padding: 0px;
margin: 5px;
}


a:hover {
    font-family: monospace;
    color: bisque;
    padding: 10px;
    margin: 25px;
    border:#5d020b, 2px, solid;
    background-color: #5d020b;
    position: relative;
    left: 6px;
    transition: .3s;
    }

    a:hover {
        background-color: #5d020b; 
        color: bisque; 
    }

    a.active {
        background-color: #ccb69d;
        color: #fff;
    }

    #blog-links {
        background-color: bisque;
        font-size: 30px;
        font-family: monospace;
        color: #5d020b;
        padding: 18px;
        margin: 10px 0px 0px 15px;
        border:#5d020b, 2px, solid;
        transition: background-color 0.5s ease, color 0.5s ease; 
        transition: .3s;

    }



  

/* DYNAMIC VIEWPORT, (need to add  media request
 for a no:hover to detect and turn off hover elements
  for true mobile devicees 
  
  */
    

/* ````````````````````````````````````````````!!!!! */

/* TINY MOBILE VIEWPORT FOR MAIN CONTENT DISPLAY (ONLY P CLASSES INSIDE ATM, NEEDD TO ADD OTHER CONTENT CLASSES, SET MARGIN SAE AS P!*/

    @media only screen and (max-width: 425px)

    {

        p  {
            padding-left: 15px;
padding-right: 15px;
padding-top: 23px;
padding-bottom: 10px;

        }
h1 {
        padding-left: 2px;
        padding-right: 2px;
        justify-content: center;
        font-size: 30px;
    }
.navspan {
    flex-direction: column;
}

.navlogo {
    width: 100vw;
    position: relative;
}

a {
    margin: 5px 25px 5px 25px;
}

#nav-bottom {

    background-color: #b7bcea;
    height: 0px;
width: 100vw;
}

a:hover {
    font-family: monospace;
    color: bisque;
    padding: 10px;
    margin: 25px;
    border:#5d020b, 2px, solid;
    background-color: #5d020b;
    transition: .3s;
    }

    a:hover {
        background-color: #5d020b; 
        color: bisque; 
    }

/* MEDIUM VIEWPORT*/

    }

    @media only screen and (min-width: 800px)
    {
        p  {
            padding-left: 50px;
padding-right: 50px;
padding-top: 23px;
padding-bottom: 10px;

        }
    }

/* BIG BOY SCREENS */

    @media only screen and (min-width: 1200px)
    {
        p  {
            padding-left: 270px;
padding-right: 270px;
padding-top: 23px;
padding-bottom: 10px;

        }

        h3 {
            padding-left: 270px;
padding-right: 270px;
padding-top: 23px;s

        }
    }

